#!/usr/bin/env python
PACKAGE = "roport"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("base_linear_vel", double_t, 0, "Base linear velocity (m/s)", 0.2, 0, 1.0)
gen.add("base_angular_vel", double_t, 0, "Base angular velocity (rad/s)", 0.2, 0, 1.0)

exit(gen.generate(PACKAGE, "roport", "BaseVelConfig"))